form {
    padding: 1em;
}

form div.form-group {
    display: flex;
    margin-bottom: 1em;
}

form div.form-group label {
    margin-right: .5em;
}

form div.form-group input, form div.form-group select {
    border: solid 1px var(--checked-background-color);
    border-radius: .25em;
    padding: .25em;
}