:root {
    --checked-background-color: rgba(128, 128, 128, 1);
    --background-color: rgba(59, 59, 59, 1);
    --default-color: #fff;
    --disabled-text-color: rgba(120, 120, 120, 1);
}
.card {
    width: 100%;
    background-color: var(--background-color);
    color: var(--default-color);
}

.card.close {
    background-color: var(--checked-background-color);
}
.card button {
    border: solid 1px rgba(200, 20, 20, 1);
    border-radius: .5em;
    color: var(--default-color);
    background-color: rgba(200, 70, 20, 1);
    width: 5em;
    padding: 1em;
    font-weight: bold;
}

.card button:disabled {
    background-color: rgba(128, 70, 20, 1);
}

.card h2.disabled {
    color: var(--disabled-text-color);
}