@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k8855x');
  src:  url('fonts/icomoon.eot?k8855x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k8855x') format('truetype'),
    url('fonts/icomoon.woff?k8855x') format('woff'),
    url('fonts/icomoon.svg?k8855x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --checked-background-color: rgba(128, 128, 128, 1);
  --background-color: rgba(59, 59, 59, 1);
  --default-color: #fff;
  --disabled-text-color: rgba(120, 120, 120, 1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
* Icomoon specific
**/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}

/**
* Flex rules
**/
.container {
  display: flex;
  justify-content: space-around;
}